# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRES_SECONDS=1296000
JWT_REFRESH_EXPIRES_DAYS=30

# Telegram (optional)
BOT_TOKEN=
LOG_CHANNEL_ID=
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=

# PenPencil API
PW_API=https://api.penpencil.co
PW_ORGANIZATION_ID=5eb393ee95fab7468a79d189
PW_REFERER=https://www.pw.live/
PW_CONTENT_TYPE=application/json
PW_ACCEPT=application/json
PW_CLIENT_ID=system-admin
PW_CLIENT_SECRET=
PW_GRANT_TYPE=password
PW_LATITUDE=0
PW_LONGITUDE=0
